body{
    background-color: aqua;
}

.sections{
    box-sizing: border-box;
    border: solid 1px black;
    height: 10vh;
    background-color: orange;
}

.section2{

    box-sizing: border-box;
    border: solid 1px red;
    height: 100vh;

}